  <div class="media", style="border-bottom: solid 1px #cacaca; padding: 10px;">
  	    <div class="pull-left">
    	
    	<p>
    	

  		
  		<b># of reviews</b></br>
  		<b># of created</b></br>
    	
  		</p>
    	</div>

   		<div class="media-body">
    		<h4 class="media-heading"><%= review.title %></h4>
    		<div style='width:auto;'></div>
    		<p><%= review.content %></p>
        this is my review


    		<div class="review-photos-wrapper">
    		<div class="review-photos">
    		<% if review.image? %>
    				<b>Photos:</b>
    		<%= link_to (image_tag review.image(:thumbnail), class: "img-circle") %>
    		<% else%>
    		<%='No Photos'%>
    		<%end%>
    		</div>
    		<div style="float:right;margin-top:5px;width:auto;" class='shareaholic-canvas' data-app='share_buttons' data-app-id='14967'></div>
    	</div>

    	</div>
    	

   </div>