


   <div class="comment-section">
   <div class="comment-side">
    <%= link_to (image_tag "icon.png", class: "img-circle") %>
   </div>
   <div class="comment-cont">
    <div class="comment-author">
      <%=review.user_id %>

    <div class="comment-body">
    <p><%= review.content %></p>
  </div>
   </div>

 


   </div>

        <div style="float:right;margin-top:5px;width:auto;background:white;border:1px solid #eee;" class='shareaholic-canvas' data-app='share_buttons' data-app-id='14967'>
    </div>
  </div>



 